name: DesvioPadraoCD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Deploy
        run: |
          npm ci
          npm run build
      - name: Create env file
        run: |
          touch .env.local
          echo NEXT_PUBLIC_GOOGLE_ANALYTICS=${{ secrets.GOOGLE_ANALYTICS }} >> .env.local
          cat .env.local
      - name: Restart service
        run: "pm2 restart desvio-padrao --update-env"
