name: DesvioPadraoCD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
      - name: Build and run
        run: |
          npm ci
          npm run build --if-present
          pm2 restart desvio-padrao
      - name: "Create env file"
        run: |
          touch .env.local
          echo NEXT_PUBLIC_GOOGLE_ANALYTICS=${{ secrets.GOOGLE_ANALYTICS }} >> .env.local
          cat .env.local
