name: DesvioPadraoCD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Build and run
      - uses: actions/checkout@v3
      - run: |
          npm ci
          npm run build --if-present
          pm2 start npm --name desvio-padrao -- start
