name: DesvioPadraoCD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
      - name: Build and run
        run: |
          npm ci
          npm run build --if-present
          pm2 restart desvio-padrao
